body {
  font:12px arial;
  color: #222;
  text-align:center;
   }

form, p, span {
  margin:0;
  padding:0; }

input { font:12px arial;
}

a {
  color:#0000FF;
  text-decoration:none; }

a:hover { text-decoration:underline; }

#wrapper {
  margin:0 auto;
  padding-bottom:0px;
  background:#EBF4FB;
  width:504px;
  border:1px solid #ACD8F0;
   float:left;}
#messages { list-style-type: none; margin: 0; padding: 0; }
#chatbox {

  margin:0 auto;
  margin-bottom:25px;
  padding:0px;
  background:#fff;
  height:270px;
  width:430px;
  border:1px solid #ACD8F0;
  overflow:auto;
}
#but {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#messages dt{padding: 10px 10px;
 ;text-align: left;font-size:15px;}
#messages dd{padding: 10px 10px; margin-left: 0px;
  margin-right:0px;text-align: left;}
.orange{
  background:lightgoldenrodyellow;
}
.blue
{
  background: lightblue;
}

#usermsg {
  width:430px;
  border:1px solid #ACD8F0;
  }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { background-color: deepskyblue;
}

.welcome { float:left;font-size: 30px; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }